<!DOCTYPE html>



<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">








<html>





<head>
<title>中国大唐集团有限公司</title>
<link rel="Shortcut Icon" href="http://www.china-cdt.com:80/dtwz/favicon.ico" />
<link rel="Bookmark" href="http://www.china-cdt.com:80/dtwz/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="中国大唐集团有限公司" />
<meta name="description" content="中国大唐集团有限公司"/> 
<!--[if IE 6]>
<script src="../js/iepng.js" type="text/javascript"></script>
<![endif]-->
<link type="text/css" href="../css/style.css" rel="stylesheet"/>
<LINK rel=stylesheet type=text/css href="../css/menu.css">
<link href="../css/focus_pic.css" rel="stylesheet" type="text/css" />
<link href="../js/rotationJs/focus_pic_2.css" rel="stylesheet" type="text/css" />
<script language=javascript type="text/javascript" src="../js/tab_news.js"></script>
<script language=javascript type="text/javascript" src="../js/tab_link.js"></script>
<script type="text/javascript" src="../js/strTools.js"></script>

<script type="text/javascript" src="../js/jquery1.8.3.min.js"></script>
<SCRIPT type=text/javascript src="../js/menu_ie6.js"></SCRIPT><!--主菜单js-->
<link href="../js/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link href="../css/cssny.css" rel="stylesheet" type="text/css" /><!--动态banner样式-->
<script language=javascript type="text/javascript" src="../js/tab_news.js"></script>
<script language=javascript type="text/javascript" src="../js/tab_link.js"></script>

<link rel="stylesheet" type="text/css" href="../css/banpic.css" /><!--大banner样式-->
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script><!--大banner-js-->
<script type="text/javascript" src="../js/strTools.js"></script>
<script type="text/javascript" src="../js/bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="http://www.china-cdt.com:80/dtwz/otherResource/jqueryPlugin/jquery.vticker-min.js"></script>
<script src="../utils/mockData.js"></script>
<script src="../utils/contantMethods.js"></script>
<script type="text/javascript">
function goPage(index){

	}
function openNews(url){
	//window.open("http://www.china-cdt.com:80/dtwz/indexAction.ndo?action=showDoc&"+url+"&"+Math.random());
	var urlStr=url.split("="); 
    // window.open("http://www.china-cdt.com:80/dtwz/showdoc/"+urlStr[1]+".html");
    let baseUrl = window.location.href.split('/list.html')[0];

	
	window.open(baseUrl+"/articles.html?"+url);
}
//子栏目链接
function childNews(url){
	let baseUrl = window.location.href.split('/list.html')[0];

	window.location.href = baseUrl + "/articles.html?" + url;
}
//父栏目链接
function openMenu(url){
	let baseUrl = window.location.href.split('/list.html')[0];
    window.open(baseUrl+'/list.html?' + url)
}
//左侧导航栏链接
function menuNews(url){
	
    var baseUrl = window.location.href.split('/list.html')[0];
    // window.open(baseUrl+'/list.html?'+url)
    window.location.href=baseUrl+'/list.html?'+url
}
var newwindowIndex=0;
	function openWin(url){
		window.open(url  ,'newswindow'+newwindowIndex,'width='+(window.screen.availWidth-10)+',height='+(window.screen.availHeight-30)+ ',top=0,left=0,toolbar=yes,menubar=yes,scrollbars=yes, resizable=yes,location=yes, status=yes');
		newwindowIndex++;
		if(newwindowIndex>1000)newwindowIndex=0;
	}
function search(s){
	var defaultSeaTime=encode('');
	var url = "http://www.china-cdt.com:80/dtwz/index/sousuo.jsp?s="+s+"&qy=t&keyWordMh="+encode(document.getElementById("keyWord").value)+"&defaultSeaTime="+defaultSeaTime+"&"+Math.random();
	openWin(url);
}
function searchGj(s){
	var defaultSeaTime=encode('');
	var url = "http://www.china-cdt.com:80/dtwz/index/sousuo.jsp?s="+s+"&keyWordMh="+encode(document.getElementById("keyWord").value)+"&defaultSeaTime="+defaultSeaTime+"&"+Math.random();
	openWin(url);
}
function startBanner(){
	var img11 = new Image();
	img11.src="http://www.china-cdt.com:80/dtwz/index/images/Banner_1.jpg";
	img11.onload = function(){//第二张图加载完成再加载第三张
		$("#__AD_shouye_banner_1").attr("data-bg",img11.src);
		var img22 = new Image();
		img22.src="http://www.china-cdt.com:80/dtwz/index/images/Banner_2.jpg";
		img22.onload = function(){
			$("#__AD_shouye_banner_2").attr("data-bg",img22.src);
			$("#bannerJS").attr("src","../js/zzsc.js");//调用执行JS
		};
	};
}
</script>
<script type="text/javascript"> 
//字体放大缩小
$(function(){ 
//获取当前登录是PC还是手机（true:PC,false:手机）
var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
//如果是手机，则修改body样式
if(!flag){
	$("body").css("width","1400px");
}


$("span").click(function(){ 
var thisEle = $("#para").css("font-size"); 
var textFontSize = parseFloat(thisEle , 10); 
var unit = thisEle.slice(-2); //获取单位 
var cName = $(this).attr("class"); 
if(cName == "bigger"){ 
if( textFontSize <= 18 ){ 
textFontSize += 2; 
} 
}else if(cName == "smaller"){ 
if( textFontSize >= 14 ){ 
textFontSize -= 2; 
} 
} 
$("#para").css("font-size", textFontSize + unit); 
}); 
}); 
</script> 
<style type="text/css">

#demo ul li ,#demo ul li div{ float:left;}

/*tanglv added 0306*/
.tmenu{top:78px;}
.tmenulist{height:38px;}
.tmenulist a.tmenu_link:hover{background-image:none;}
.tmenubg{background-image:none;}
.tmenulist ul.mul_II,.tmenulist ul{top:37px;}

ul.ztbd_kjtd{}
ul.ztbd_kjtd>li{text-align:center;width:104px;height:25px;line-height: 25px;float:left;cursor:pointer;}
ul.ztbd_kjtd>li.moveover{color: #a90000;font-size:14px;}
ul.ztbd_kjtd>li.moveout{color:#fff;font-size:14px;background-color: #a90000;}
ul.ztbd_kjtd>li.moveover>a{color: #a90000;font-size:14px;}
ul.ztbd_kjtd>li.moveout>a{color:#fff;font-size:14px;}
div.ztbd_div>div>ul>li{display:block;font-size:12px;color:#555555;text-indent: 14px;}
div.ztbd_div>div>ul>li>div{margin:5px auto;background-color: #fcf1f6;border-left:2px solid #a90000;width: 182px;}
div.kjtd_div{display:none;}

.yx-rotation-title2{background:url()}
.yx-rotation-t2{top:135px;color:#555555;}

.friendlink_select{width:200px;margin:0 40px;text-indent:14px;background-color: #f1f1f1;color: #727272;font-family: "microsoft Yahei";}

.ipRtime td span { display:block; float:right; margin:0px 2px; padding:0px 0px 0px 2px; color:#898989; cursor:pointer;font-size:12px; } 
#para{line-height: 180%;}
</style>
</head>
<body bgcolor="#f1f1f1" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background-color: #f7f7f7;">
    
<!--top logo area-->
<div class="header" >
    <div class="Top"> 
	<div class="logo"><img src="http://www.china-cdt.com:80/dtwz/index//images/logo.jpg"></div>
    <div class="se">
    	<div class="se_EN"><a href="http://en.china-cdt.com/">ENGLISH</a></div>
    	<div class="se_all">
    		<form method="post" name="searchform" >
              <span class="se_in">
				        <input type="text" value="" name="keyWord" id="keyWord" onkeydown="if(event.keyCode==13){search('')}" style="position: absolute;"/>
              </span>
              <input type="button" value="" class="se_bu"  style="cursor: pointer;" onclick="search('');" />
              <input type="button" value="" class="se_bu_high"  style="cursor: pointer;" onclick="searchGj('');" /> 
             </form>
    		
    	</div>
    </div>
  <div class="tmenubg" style="background-image: none;"></div>
</div>

<!-- 代码 开始 -->
<div class="banner">
<div id="solid">
    <div class="solid0"></div><div class="solid1"></div><div class="solid2"></div>
    <div class="solid3"></div><div class="solid4"></div><div class="solid5"></div>
    <div class="solid6"></div><div class="solid7"></div><div class="solid8"></div>
    <ul>
		
		<li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
    </ul>
<div id="btt"><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span></div>
</div>
<script src="../js/fordny.js"></script>
</div>
<!-- 代码 结束 -->
<!--top banner area-->
   
</div>
<br style="clear:both; height:20px;" />
<!--header begin-->
<div class="ipnews">
<div class="ipnewsbg">
    <div class="ipNavL"><h4>新闻中心</h4></div>
    <div class="ipNavM">
    <div class="ipNav">
    <span class="ipNavM01">
    		<font color="#ce040c">时政</font>要闻
    </span>
    <span class="ipNavM02"><a href="http://www.china-cdt.com:80/dtwz/index.jsp">首页</a> -&gt;
    		 <a href="http://www.china-cdt.com:80/dtwz//indexAction.ndo?action=showNewsIndexing&t=index_news&s=index_news">新闻中心</a> -&gt;
    		<h4>时政要闻</h4>
    &nbsp;&nbsp;</span></div>
    </div>
</div>
</div>
<!--header ended-->


<!-- main area begin-->
<table width="1020" border="0" cellspacing="0" cellpadding="0" class="ipmiddle">
  <tr>
    <td>
    <div class="ipLtree">
        <div class="ipLtree_ul">
         <ul >
            <li class="liout" onclick="javascript:menuNews('/indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_sjjs')" style="color: #e30e16; border-right: 3px solid #e52f35;background-color: #fdf2f2;"><a href="#" style="color:#ca0000;font-weight:bold;font-size:16px;">时政要闻</a></li> 

            <li class="liout" onclick="javascript:menuNews('/indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_jjgz')" ><a href="#" >国资动态</a></li> 
          </ul>
        </div>
    </div>
    <div class="ipRlist">
     <div class="ipRtbl2">
     <div class="year">
    </div>
    <ul class="RList">
    </ul>
  	</div>
     
      </div>
        <div class="clear"></div> 
      <div class="ipRListEnd">
          <div class="ipRListNav2"><a href="javascript:goPage(1);">首页</a>&nbsp;<a href="javascript:goPage(currentPage+1);">下一页</a>&nbsp;<a href="javascript:goPage(totalPage);">末页</a>&nbsp;&nbsp;&nbsp;当前&nbsp;<span class="STYLE1" id="#currentPage">1</span>/<span id="totalPage"></span>&nbsp;页&nbsp;转到<input name="pageIndex" id="pageIndex" class="navIpt" type="text" onblur="if(this.value=='' || Number(this.value)!=this.value || Number(this.value)>totalPage)this.value=1;" value="1" />页&nbsp;<input name="" value="GO" class="navBtn" type="button" onclick="goPage(document.getElementById('pageIndex').value);" />&nbsp;</div>
    </div>
    </div>
    </td>
  </tr>
</table>
<!-- main area ended-->

<div class="clear"></div> 

<!-- bottom area begin-->
<div class="footer">
    <h4>Copyright(C)www.china-cdt.com All Rights Reserved &nbsp;&nbsp;北京市西城区广宁伯街1号 邮编：100033<br />
    <a target="_blank"><img src="http://www.china-cdt.com:80/dtwz/index/images/rss.gif" />&nbsp;RSS订阅</a> | <a target="_blank">网站导航</a> | <a target="_blank">使用帮助</a> | <a target="_blank" >法律声明</a> | <a target="_blank">反馈留言</a> <!--| 网站编辑部邮箱:<a href="mailto:webmaster@china-cdt.com" target="_blank">webmaster@china-cdt.com</a> <a href="http://weibo.com/chinadatang" target="blank"><img src="http://www.china-cdt.com:80/dtwz/index/images/cdt_blog.gif" /></a>--><br/>
    京ICP备06031474号&nbsp;&nbsp;京公网安备110401400170号 &nbsp;&nbsp;网站技术服务:<a href="http://www.ite.com.cn" target="_blank">长沙市亿泰科技有限公司</a>
    </h4>
</div>
</div>

</body>
</html>
<script>
  var topHead = $('.tmenubg')
  var currentHeadDom = createdDom(headData, 'head')
  topHead.html(currentHeadDom);
  
    var menu =
    [
        {
            url:'/indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_wzqh',
            title:'十九届五中全会'
        },
        {
            url:'/indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_jjgz',
            title:'专项整治三年行动'
        },
        {
            url:'/indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_llwy',
            title:'理论文苑'
        },
        {
            url:'/indexAction.ndo?action=showFirstDoc&t=index_news&s=news_zxgz_gsgg',
            title:'公示公告'
        },
    ]

    var menuShow = $('.ipLtree_ul ul')
    var str =''
    var getQueryString=window.location.href.split('s=')[1]
    for(var i = 0; i < menu.length; i++) {
        var s = menu[i].url.split('s=')[1]
        if(getQueryString.includes(s)){
            str += `<li class="liout"  onclick="javascript:menuNews(${menu[i].url})" style="color: #e30e16; border-right: 3px solid #e52f35;background-color: #fdf2f2;"><a href="#" style="color:#ca0000;font-weight:bold;font-size:16px;" data_index="${menu[i].url}">${menu[i].title}</a></li>`
        }else{
            str += `<li class="liout"  onclick="javascript:menuNews(${menu[i].url})" ><a href="#" data_index="${menu[i].url}">${menu[i].title}</a></li>`
        }
    }
    menuShow.html(str)
    menuShow.click(function (e) {
        console.log(e.target.tagName)
        if (e.target.tagName.toLowerCase() == 'a') {
            menuNews($(e.target).attr('data_index'))
        }
    })

    // 近3年份修改
    var domYear = $('.year')
    var curentYear = new Date();
    var htmlYear = ''
    for (let i = 0; i <= 2; i++) {
        let years = curentYear.getFullYear() - i;
        htmlYear += `<span class=${i == 0 ? 'hong' : 'bai'} >${years}</span>`
    }
    domYear.html(htmlYear)
    $('.year span').click(function (e) {
        $('.year span').removeClass('hong').addClass('bai');
        this.className = 'hong'
    })

    // 新闻标题列表
    var newsListHtml= '';
    var newsDom = $('.RList');
    const  newsResultList= [{
        url:'d=E3734B0A-DE0E-8E7A-9BEE-1571097E69A5',
        title:'习近平在气候雄心峰会上发表重要讲话',
        date:'2020-12-13'
    },{
        url:'d=7EBA32BC-A866-57A5-60C5-C0F2D0B6A217',
        title:'习近平致信祝贺首届全国职业技能大赛举办',
        date:'2020-12-14'
    },{
        url:'d=64A32710-844F-611D-2EF8-07813D45E92F',
        title:'中共中央召开党外人士座谈会',
        date:'2020-12-15'
    },{
        url:'d=335CD783-75FF-92CA-F615-5B5B102B0561',
        title:'习近平：共担时代责任，共促全球发展',
        date:'2020-12-16'
    }
    ]
    for (let i=0;i<newsResultList.length;i++){
        newsListHtml+= `<li><a dataUrl="${newsResultList[i].url}">${newsResultList[i].title}</a><ul style="text-align:right; color:#999"><li>日期：${newsResultList[i].date}</li></ul></li>`
    }
    newsDom.html(newsListHtml)
    $('.RList li a').click(function (){
        openNews($(this).attr('dataUrl'))
    })
    function GetQueryString(name) {
        var  reg = new  RegExp( "(^|&)" + name + "=([^&]*)(&|$)" );
        var  r = window.location.search.substr(1).match(reg);
        if (r!= null ) return   unescape(r[2]); return  null ;
    }
    // 新闻列表分页
    var currentPage =1 ;
    var totalPage =12;
    $('#currentPage').text(currentPage)
    $('#totalPage').text(totalPage)
</script>

//onclick="javascript:window.location='http://www.china-cdt.com:80/dtwz//indexAction.ndo?action=showNewsInYearList&t=index_news&s=news_sjjs&y=${years}';"
//