<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="中国大唐集团有限公司" />
	<meta name="description" content="中国大唐集团有限公司"/> 
	<link type="text/css" href="../css/xncss.css" rel="stylesheet"/>
  <title>topBanner</title>
</head>
<body>
  <div id="solid">
    <div class="solid0"></div>
    <div class="solid1"></div>
    <div class="solid2"></div>
    <div class="solid3"></div>
    <div class="solid4"></div>
    <div class="solid5"></div>
    <div class="solid6"></div>
    <div class="solid7"></div>
    <div class="solid8"></div>
    <div class="solid9"></div>
    <ul>
      <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
        <li style="text-align:center;"><img src="" /></li>
    </ul>
    <div id="btt"><span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span></div>
  </div>
  <script src="../js/fordboyxn.js"></script>
</body>
</html>