@charset "utf-8";

/*yx_rotaion  定义图片的宽高*/
.yx-rotaion2 {
    margin: 0 auto;
    height: 130px;
    width: 200px;
}
.yx-rotaion-btn2,
.yx-rotaion-title2,
.yx-rotation-focus2,
.yx-rotation-t2,
.yx-rotaion-btn2 {
    position: absolute;
}

/* 底部背景 */
.yx-rotation-title2 {
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 40px;
    background: url(focus_bg.png) repeat-x left bottom;
    display: block;
    left: 0;
    bottom: 0;
    _bottom: -1px;
    z-index: 1;
}

/* 底部文字 */
.yx-rotation-t2 {
    color: #fff;
    font-size: 12px;
    font-family: microsoft yahei;
    text-decoration: none;
    z-index: 2;
    bottom: 0;
    left: 10px;
    line-height: 15px;
}
.yx-rotation-t2 a:hover {
    color: #fff;
}

/* 底部翻页点点 */
.yx-rotation-focus2 {
    height: 38px;
    line-height: 30px;
    right: 20px;
    bottom: 0;
    z-index: 2; /*border:1px solid #f00;*/
}
.yx-rotation-focus2 span {
    display: block;
    width: 12px;
    _width: 8px;
    height: 12px;
    _height: 8px;
    line-height: 12px;
    _line-height: 8px;
    background: url(ico.png) no-repeat -24px -126px;
    background-color: none;
    _background-color: #ccc;
    float: left;
    margin-left: 5px;
    _margin-top: 2px;
    position: relative;
    top: 14px;
    cursor: pointer;
    text-indent: -9999px;
}
.yx-rotation-focus2 span.hover {
    width: 12px;
    height: 12px;
    background: url(ico.png) no-repeat -10px -126px;
    background-color: none;
    _background-color: #83b3e4;
    _margin-top: 0px;
}

/* 左右翻页箭头 */
.yx-rotaion-btn2 {
    width: 100%;
    height: 41px;
    top: 50%;
    margin-top: -20px;
}
.yx-rotaion-btn2 span {
    display: block;
    background: url(ico.png) no-repeat;
    width: 41px;
    height: 41px;
    cursor: pointer;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    position: relative;
}
.yx-rotaion-btn2 .left_btn {
    background-position: -2px -2px;
    float: left;
    left: 10px;
}
.yx-rotaion-btn2 .right_btn {
    background-position: -2px -49px;
    float: right;
    right: 10px;
}
.yx-rotaion-btn2 span.hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.rotaion_list2 {
    width: 0;
    height: 0;
    overflow: hidden;
}
.rotaion_list2 li img {
    height: 130px;
    width: 200px;
} /*定义图片的宽高*/
.yx-rotaion2 a:link {
    color: #fff;
}
.yx-rotaion2 a:hover {
    color: #6eb2ff;
}
